# COGS 108 - Data Checkpoint

# Names

- Li-An Wu
- Tony Lin
- Ray Huang
- Steven Kan

<a id='research_question'></a>
# Research Question

Does the GDP or poverty rate of a country affect the death/infected/recovered rate from COVID-19?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

Dataset Name: Coronavirus death/infected population by country:   \
Link to the dataset: https://www.worldometers.info/coronavirus/#countries  \
Number of observation: 220  
Description: This dataset contains COVID related information by country.

Dataset Name: GDP by country              
Link to the dataset:
https://www.imf.org/en/Publications/WEO/weo-database/2020/October/weo-report?c=512,914,612,614,311,213,911,314,193,122,912,313,419,513,316,913,124,339,638,514,218,963,616,223,516,918,748,618,624,522,622,156,626,628,228,924,233,632,636,634,238,662,960,423,935,128,611,321,243,248,469,253,642,643,939,734,644,819,172,132,646,648,915,134,652,174,328,258,656,654,336,263,268,532,944,176,534,536,429,433,178,436,136,343,158,439,916,664,826,542,967,443,917,544,941,446,666,668,672,946,137,546,674,676,548,556,678,181,867,682,684,273,868,921,948,943,686,688,518,728,836,558,138,196,278,692,694,962,142,449,564,565,283,853,288,293,566,964,182,359,453,968,922,714,862,135,716,456,722,942,718,724,576,936,961,813,726,199,733,184,524,361,362,364,732,366,144,146,463,528,923,738,578,537,742,866,369,744,186,925,869,746,926,466,112,111,298,927,846,299,582,487,474,754,698,&s=NGDPD,PPPGDP,&sy=2019&ey=2020&ssm=0&scsm=0&scc=0&ssd=1&ssc=0&sic=0&sort=country&ds=.&br=1

Number of observation: 390            
Description: This dataset contains information about GDP of each country in US dollar (in Billions)

Dataset Name: Poverty rate by country: 
Link to the dataset: https://worldpopulationreview.com/country-rankings/poverty-rate-by-country
Number of observation: 162           
Description: This dataset contains the poverty rate among all countries

# Setup

In [1]:
## YOUR CODE HERE
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import scipy

# Data Cleaning

Describe your data cleaning steps here.

1. drop all non relevent (not needed) columns
2. look for any null value for sepcific variable among each row and replace them with 0
3. remove outliers

In [2]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION
covid_death = pd.read_csv("worldometer_coronavirus.csv")
GDP_country = pd.read_csv('WEO_Data.csv', encoding = "ISO-8859-1")
poverty = pd.read_csv("csvData.csv")

In [3]:
covid_death.describe(include='all')
covid_death = covid_death.replace(',','', regex=True)

In [4]:
covid_death['Total Cases'] = pd.to_numeric(covid_death['Total Cases'])
covid_death['Total Deaths'] = pd.to_numeric(covid_death['Total Deaths'])
covid_death['Total Recovered'] = pd.to_numeric(covid_death['Total Recovered'])
covid_death['Serious/Critical'] = pd.to_numeric(covid_death['Serious/Critical'])
covid_death['TotCases/ 1M pop'] = pd.to_numeric(covid_death['TotCases/ 1M pop'])
covid_death['Deaths/1M pop'] = pd.to_numeric(covid_death['Deaths/1M pop'])
covid_death['Total Tests'] = pd.to_numeric(covid_death['Total Tests'])
covid_death['Tests/1M pop'] = pd.to_numeric(covid_death['Tests/1M pop'])
covid_death['Population'] = pd.to_numeric(covid_death['Population'])

In [5]:
covid_death.describe()

,Total Cases,Total Deaths,Total Recovered,Serious/Critical,TotCases/ 1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
count,2.220000e+02,2.040000e+02,2.190000e+02,151.000000,221.000000,203.000000,2.030000e+02,2.030000e+02,2.190000e+02
mean,1.465086e+06,3.502314e+04,1.103173e+06,1987.450331,21311.257014,398.817241,7.494558e+06,4.121701e+05,3.564332e+07
std,1.045056e+07,2.380688e+05,7.809048e+06,11585.278184,25969.667967,508.146946,3.107422e+07,6.904285e+05,1.401806e+08
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,3.000000,0.200000,4.700000e+02,5.760000e+02,8.020000e+02
25%,3.276500e+03,7.975000e+01,2.249500e+03,9.000000,1298.000000,27.500000,9.255550e+04,4.579650e+04,6.434905e+05
50%,2.963150e+04,6.100000e+02,2.021000e+04,68.000000,10586.000000,134.000000,6.627070e+05,1.844170e+05,6.590113e+06
75%,2.259425e+05,4.697250e+03,1.683155e+05,318.000000,36038.000000,580.000000,3.303684e+06,4.661380e+05,2.429004e+07
max,1.084166e+08,2.381578e+06,8.060505e+07,100035.000000,134353.000000,2464.000000,3.304247e+08,5.051032e+06,1.439324e+09

In [6]:
covid_death = covid_death.drop(columns=['New Cases', 'New Deaths', 'Active Cases', ])

In [7]:
covid_death = covid_death.replace(np.nan, 0)

In [8]:
#pd.set_option('display.max_rows', covid_death.shape[0]+1)

1. How 'clean' is the data?

It is clean enough for us to investigate the question without further modifications.


2. What did you have to do to get the data into a usable format? (If you did nothing, how did you determine there was nothing to do?)

We read the data with pandas dataframe and replaced Null values with 0. 


3. What pre-processing steps that were required for your methods (for example, checking data distributions and performing any transformations that may be required)

We drop the columns that we dont need in our data analysis.
We then removed all the commas in the dataframe and convert all string values into numerical values to facilitate analysis.
We replace the Nan value with 0 in our dataframe.

In [9]:
GDP_country = GDP_country.drop(columns=['Subject Descriptor', 'Country/Series-specific Notes', 'Estimates Start After'])
GDP_country = GDP_country[GDP_country['Units'] == "U.S. dollars"]
pd.set_option('display.max_rows', GDP_country.shape[0]+1)
GDP_country

,Country,Units,Scale,2019,2020
0,Afghanistan,U.S. dollars,Billions,18.876,19.006
2,Albania,U.S. dollars,Billions,15.276,14.034
4,Algeria,U.S. dollars,Billions,169.267,147.323
6,Angola,U.S. dollars,Billions,89.417,62.724
8,Antigua and Barbuda,U.S. dollars,Billions,1.662,1.389
10,Argentina,U.S. dollars,Billions,444.458,382.76
12,Armenia,U.S. dollars,Billions,13.673,12.813
14,Aruba,U.S. dollars,Billions,2.888,2.288
16,Australia,U.S. dollars,Billions,"1,387.09","1,334.69"
18,Austria,U.S. dollars,Billions,446.309,432.894
20,Azerbaijan,U.S. dollars,Billions,48.048,41.666
22,The Bahamas,U.S. dollars,Billions,13.579,11.56
24,Bahrain,U.S. dollars,Billions,38.574,34.624
26,Bangladesh,U.S. dollars,Billions,302.525,317.768
28,Barbados,U.S. dollars,Billions,5.209,4.63
30,Belarus,U.S. dollars,Billions,63.085,57.708
32,Belgium,U.S. dollars,Billions,529.665,503.416
34,Belize,U.S. dollars,Billions,1.837,1.556
36,Benin,U.S. dollars,Billions,14.392,15.292
38,Bhutan,U.S. dollars,Billions,2.5,2.587
40,Bolivia,U.S. dollars,Billions,41.193,38.938
42,Bosnia and Herzegovina,U.S. dollars,Billions,19.856,18.893
44,Botswana,U.S. dollars,Billions,18.474,15.872
46,Brazil,U.S. dollars,Billions,"1,839.08","1,363.77"
48,Brunei Darussalam,U.S. dollars,Billions,13.47,10.647
50,Bulgaria,U.S. dollars,Billions,67.931,67.917
52,Burkina Faso,U.S. dollars,Billions,15.746,16.082
54,Burundi,U.S. dollars,Billions,3.111,3.131
56,Cabo Verde,U.S. dollars,Billions,1.982,1.87
58,Cambodia,U.S. dollars,Billions,26.728,26.316
60,Cameroon,U.S. dollars,Billions,38.863,39.036
62,Canada,U.S. dollars,Billions,"1,736.43","1,600.26"
64,Central African Republic,U.S. dollars,Billions,2.277,2.321
66,Chad,U.S. dollars,Billions,10.934,10.51
68,Chile,U.S. dollars,Billions,282.254,245.414
70,China,U.S. dollars,Billions,"14,401.73","14,860.78"
72,Colombia,U.S. dollars,Billions,323.561,264.933
74,Comoros,U.S. dollars,Billions,1.19,1.2
76,Democratic Republic of the Congo,U.S. dollars,Billions,49.816,46.062
78,Republic of Congo,U.S. dollars,Billions,12.542,9.964
80,Costa Rica,U.S. dollars,Billions,62.142,59.645
82,Côte d'Ivoire,U.S. dollars,Billions,58.581,61.502
84,Croatia,U.S. dollars,Billions,60.422,56.768
86,Cyprus,U.S. dollars,Billions,24.568,23.246
88,Czech Republic,U.S. dollars,Billions,250.681,241.975
90,Denmark,U.S. dollars,Billions,347.031,339.626
92,Djibouti,U.S. dollars,Billions,3.346,3.408
94,Dominica,U.S. dollars,Billions,0.588,0.545
96,Dominican Republic,U.S. dollars,Billions,89.032,77.883
98,Ecuador,U.S. dollars,Billions,107.436,93.078
100,Egypt,U.S. dollars,Billions,302.335,361.875
102,El Salvador,U.S. dollars,Billions,27.023,24.784
104,Equatorial Guinea,U.S. dollars,Billions,11.819,10.028
106,Eritrea,U.S. dollars,Billions,1.982,2.075
108,Estonia,U.S. dollars,Billions,31.475,30.468
110,Eswatini,U.S. dollars,Billions,4.587,3.848
112,Ethiopia,U.S. dollars,Billions,92.796,95.588
114,Fiji,U.S. dollars,Billions,5.407,3.932
116,Finland,U.S. dollars,Billions,269.327,267.856
118,France,U.S. dollars,Billions,"2,715.82","2,551.45"
120,Gabon,U.S. dollars,Billions,16.875,15.145
122,The Gambia,U.S. dollars,Billions,1.818,1.806
124,Georgia,U.S. dollars,Billions,17.743,16.316
126,Germany,U.S. dollars,Billions,"3,861.55","3,780.55"
128,Ghana,U.S. dollars,Billions,66.998,67.337
130,Greece,U.S. dollars,Billions,209.875,194.376
132,Grenada,U.S. dollars,Billions,1.218,1.074
134,Guatemala,U.S. dollars,Billions,76.694,76.191
136,Guinea,U.S. dollars,Billions,13.797,14.238
138,Guinea-Bissau,U.S. dollars,Billions,1.44,1.392
140,Guyana,U.S. dollars,Billions,5.174,6.806
142,Haiti,U.S. dollars,Billions,8.705,8.347
144,Honduras,U.S. dollars,Billions,24.921,23.984
146,Hong Kong SAR,U.S. dollars,Billions,365.711,341.319
148,Hungary,U.S. dollars,Billions,160.957,149.939
150,Iceland,U.S. dollars,Billions,24.224,20.805
152,India,U.S. dollars,Billions,"2,868.93","2,592.58"
154,Indonesia,U.S. dollars,Billions,"1,120.14","1,088.77"
156,Islamic Republic of Iran,U.S. dollars,Billions,583.698,610.662
158,Iraq,U.S. dollars,Billions,230.143,178.112
160,Ireland,U.S. dollars,Billions,398.469,399.064
162,Israel,U.S. dollars,Billions,394.652,383.425
164,Italy,U.S. dollars,Billions,"2,001.47","1,848.22"
166,Jamaica,U.S. dollars,Billions,15.884,14.228
168,Japan,U.S. dollars,Billions,"5,079.92","4,910.58"
170,Jordan,U.S. dollars,Billions,44.566,42.609
172,Kazakhstan,U.S. dollars,Billions,181.667,165.73
174,Kenya,U.S. dollars,Billions,95.41,101.048
176,Kiribati,U.S. dollars,Billions,0.195,0.194
178,Korea,U.S. dollars,Billions,"1,646.74","1,586.79"
180,Kosovo,U.S. dollars,Billions,7.972,7.484
182,Kuwait,U.S. dollars,Billions,135.387,108.656
184,Kyrgyz Republic,U.S. dollars,Billions,8.455,7.48
186,Lao P.D.R.,U.S. dollars,Billions,19.059,18.653
188,Latvia,U.S. dollars,Billions,34.121,33.015
190,Lebanon,U.S. dollars,Billions,52.522,18.734
192,Lesotho,U.S. dollars,Billions,2.428,1.906
194,Liberia,U.S. dollars,Billions,3.176,3.068
196,Libya,U.S. dollars,Billions,39.832,21.805
198,Lithuania,U.S. dollars,Billions,54.225,55.064
200,Luxembourg,U.S. dollars,Billions,71.113,68.613
202,Macao SAR,U.S. dollars,Billions,53.859,26.348
204,Madagascar,U.S. dollars,Billions,14.124,14.199
206,Malawi,U.S. dollars,Billions,7.663,8.33
208,Malaysia,U.S. dollars,Billions,364.684,336.33
210,Maldives,U.S. dollars,Billions,5.764,4.712
212,Mali,U.S. dollars,Billions,17.324,17.685
214,Malta,U.S. dollars,Billions,14.991,14.29
216,Marshall Islands,U.S. dollars,Billions,0.237,0.225
218,Mauritania,U.S. dollars,Billions,7.6,7.428
220,Mauritius,U.S. dollars,Billions,14.048,11.341
222,Mexico,U.S. dollars,Billions,"1,258.21","1,040.37"
224,Micronesia,U.S. dollars,Billions,0.414,0.395
226,Moldova,U.S. dollars,Billions,11.956,11.241
228,Mongolia,U.S. dollars,Billions,13.853,13.385
230,Montenegro,U.S. dollars,Billions,5.495,4.943
232,Morocco,U.S. dollars,Billions,118.567,112.22
234,Mozambique,U.S. dollars,Billions,15.195,14.557
236,Myanmar,U.S. dollars,Billions,68.641,70.89
238,Namibia,U.S. dollars,Billions,12.473,10.252
240,Nauru,U.S. dollars,Billions,0.119,0.114
242,Nepal,U.S. dollars,Billions,30.69,32.158
244,Netherlands,U.S. dollars,Billions,907.151,886.339
246,New Zealand,U.S. dollars,Billions,205.217,193.545
248,Nicaragua,U.S. dollars,Billions,12.535,11.905
250,Niger,U.S. dollars,Billions,12.912,12.971
252,Nigeria,U.S. dollars,Billions,448.12,442.976
254,North Macedonia,U.S. dollars,Billions,12.698,12.51
256,Norway,U.S. dollars,Billions,403.336,366.386
258,Oman,U.S. dollars,Billions,76.332,62.305
260,Pakistan,U.S. dollars,Billions,276.114,NaN
262,Palau,U.S. dollars,Billions,0.28,0.251
264,Panama,U.S. dollars,Billions,66.801,60.286
266,Papua New Guinea,U.S. dollars,Billions,24.809,23.283
268,Paraguay,U.S. dollars,Billions,37.433,35.606
270,Peru,U.S. dollars,Billions,230.738,195.761
272,Philippines,U.S. dollars,Billions,376.795,367.362
274,Poland,U.S. dollars,Billions,592.401,580.894
276,Portugal,U.S. dollars,Billions,237.714,221.716
278,Puerto Rico,U.S. dollars,Billions,103.262,93.968
280,Qatar,U.S. dollars,Billions,175.838,147.791
282,Romania,U.S. dollars,Billions,250.076,248.624
284,Russia,U.S. dollars,Billions,"1,702.50","1,464.08"
286,Rwanda,U.S. dollars,Billions,10.123,10.428
288,Samoa,U.S. dollars,Billions,0.851,0.829
290,San Marino,U.S. dollars,Billions,1.602,1.41
292,São Tomé and Príncipe,U.S. dollars,Billions,0.422,0.417
294,Saudi Arabia,U.S. dollars,Billions,792.967,680.897
296,Senegal,U.S. dollars,Billions,23.579,24.409
298,Serbia,U.S. dollars,Billions,51.409,51.999
300,Seychelles,U.S. dollars,Billions,1.651,1.198
302,Sierra Leone,U.S. dollars,Billions,4.213,4.14
304,Singapore,U.S. dollars,Billions,372.066,337.451
306,Slovak Republic,U.S. dollars,Billions,105.434,101.892
308,Slovenia,U.S. dollars,Billions,53.748,51.802
310,Solomon Islands,U.S. dollars,Billions,1.598,1.551
312,Somalia,U.S. dollars,Billions,4.942,4.918
314,South Africa,U.S. dollars,Billions,351.354,282.588
316,South Sudan,U.S. dollars,Billions,4.934,4.177
318,Spain,U.S. dollars,Billions,"1,394.27","1,247.46"
320,Sri Lanka,U.S. dollars,Billions,83.996,81.12
322,St. Kitts and Nevis,U.S. dollars,Billions,1.066,0.871
324,St. Lucia,U.S. dollars,Billions,2.122,1.77
326,St. Vincent and the Grenadines,U.S. dollars,Billions,0.824,0.777
328,Sudan,U.S. dollars,Billions,33.359,32.576
330,Suriname,U.S. dollars,Billions,3.697,2.538
332,Sweden,U.S. dollars,Billions,530.884,529.054
334,Switzerland,U.S. dollars,Billions,704.825,707.868
336,Syria,U.S. dollars,Billions,NaN,NaN
338,Taiwan Province of China,U.S. dollars,Billions,610.692,635.547
340,Tajikistan,U.S. dollars,Billions,8.117,7.898
342,Tanzania,U.S. dollars,Billions,60.81,64.123
344,Thailand,U.S. dollars,Billions,543.564,509.2
346,Timor-Leste,U.S. dollars,Billions,1.62,1.92
348,Togo,U.S. dollars,Billions,5.459,5.719
350,Tonga,U.S. dollars,Billions,0.517,0.503
352,Trinidad and Tobago,U.S. dollars,Billions,24.1,22.718
354,Tunisia,U.S. dollars,Billions,38.797,39.226
356,Turkey,U.S. dollars,Billions,760.94,649.436
358,Turkmenistan,U.S. dollars,Billions,45.231,47.986
360,Tuvalu,U.S. dollars,Billions,0.047,0.045
362,Uganda,U.S. dollars,Billions,36.484,37.733
364,Ukraine,U.S. dollars,Billions,154.694,142.25
366,United Arab Emirates,U.S. dollars,Billions,421.142,353.899
368,United Kingdom,U.S. dollars,Billions,"2,830.76","2,638.30"
370,United States,U.S. dollars,Billions,"21,433.23","20,807.27"
372,Uruguay,U.S. dollars,Billions,56.686,54.135
374,Uzbekistan,U.S. dollars,Billions,57.921,59.771
376,Vanuatu,U.S. dollars,Billions,0.933,0.864
378,Venezuela,U.S. dollars,Billions,63.96,48.61
380,Vietnam,U.S. dollars,Billions,329.537,340.602
382,West Bank and Gaza,U.S. dollars,Billions,17.051,14.75
384,Yemen,U.S. dollars,Billions,22.568,20.948
386,Zambia,U.S. dollars,Billions,24.156,18.909
388,Zimbabwe,U.S. dollars,Billions,18.699,14.002

In [15]:
GDP_country = GDP_country.reset_index(drop=True)
GDP_country.head()

               Country         Units     Scale     2019     2020
0          Afghanistan  U.S. dollars  Billions   18.876   19.006
1              Albania  U.S. dollars  Billions   15.276   14.034
2              Algeria  U.S. dollars  Billions  169.267  147.323
3               Angola  U.S. dollars  Billions   89.417   62.724
4  Antigua and Barbuda  U.S. dollars  Billions    1.662    1.389

In [11]:
GDP_country = GDP_country.replace(',','', regex=True)
GDP_country['2019'] = pd.to_numeric(GDP_country['2019'])
GDP_country['2020'] = pd.to_numeric(GDP_country['2020'])
covid_death = covid_death.replace(np.nan, 0)

In [12]:
GDP_country.dtypes

Country     object
Units       object
Scale       object
2019       float64
2020       float64
dtype: object

1. How 'clean' is the data?

It is clean enough for us to investigate the question without further modifications.

2. What did you have to do to get the data into a usable format? (If you did nothing, how did you determine there was nothing to do?)

We read the data with pandas dataframe. We then dropped the columns that we don't need and also added a column specifying the currency. Given that the dataset is otherwise clean and is ready for analysis (No Null values, and the nature of the data set doesn't incur outliers). 

3. What pre-processing steps that were required for your methods (for example, checking data distributions and performing any transformations that may be required)

We drop the columns that we dont need in our data analysis
We then remove all the commas in the dataframe and convert all string values into numerical values
We replace the Nan value with 0 in our dataframe

In [13]:
pd.set_option('display.max_rows', poverty.shape[0]+1)
poverty.head()

        country  povertyRate      pop2021
0  Turkmenistan          0.2     6117.924
1         China          0.6  1444216.107
2       Ukraine          1.3    43466.819
3    Kazakhstan          2.5    18994.962
4     Sri Lanka          4.1    21497.310

In [14]:
poverty = poverty.replace(np.nan, 0)

1. How 'clean' is the data?

It is clean enough for us to investigate the question without further modifications.

2. What did you have to do to get the data into a usable format? (If you did nothing, how did you determine)

We read the data with pandas dataframe. The csv that contained the file was already in tidy format, so it didnt need to be further modified.

3. What pre-processing steps that were required for your methods (for example, checking data distributions and performing any transformations that may be required)

We replace the Nan value with 0 in our dataframe.

# Project Proposal (updated)

| Meeting Date  | Meeting Time (PST) | Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  10 AM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 1/29  | 10 AM | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/12  | 10 AM | Checkpoint 1: Data | Check the requirements and submit the files before the deadline |
| 2/14  | 6 PM | Import & Wrangle Data; EDA | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM | Finalize wrangling/EDA; Begin Analysis | Discuss/edit Analysis; Complete project check-in |
| 2/26  | 11:59 PM | Checkpoint 2: EDA | Check the requirements and submit the files before the deadline |
| 3/13  | 12 PM | Complete analysis; Draft results/conclusion/discussion | Discuss/edit full project |
| 3/19  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |